In [1]:
import numpy as np
import pandas as pd
import time
from datetime import date
from datetime import datetime

## Filenames
chicago = 'chicago.csv'
new_york_city = 'new_york_city.csv'
washington = 'washington.csv'

city_file = pd.read_csv(washington)
city_file.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,2017-01-01 00:00:00,2017-01-01 00:04:00,221.834,3rd & Tingey St SE,M St & New Jersey Ave SE,Subscriber
1,2017-01-01 00:06:00,2017-01-01 00:34:00,1676.854,Lincoln Memorial,8th & D St NW,Customer
2,2017-01-01 00:07:00,2017-01-01 00:34:00,1636.768,Lincoln Memorial,8th & D St NW,Customer
3,2017-01-01 00:07:00,2017-01-01 00:29:00,1327.901,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer
4,2017-01-01 00:07:00,2017-01-01 00:29:00,1356.956,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer

In [2]:
# Reference: 
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.idxmax.html
city_file1 = pd.read_csv(chicago)
city_file1.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [24]:
# popular day
city_file['Start Time'] = pd.to_datetime(city_file['Start Time'])
city_file['weekday'] = city_file['Start Time'].dt.weekday
city_file['weekday'].value_counts().head(1).idxmax()

1

In [35]:
# calculating popular day
max_weekday = city_file['weekday'].value_counts().head(1).argmax()
max_weekday_stxr = ''
if max_weekday == 0:
    max_weekday_str = 'Monday'
elif max_weekday == 1:
    max_weekday_str = 'Tuesday'
elif max_weekday == 2:
    max_weekday_str = 'Wednesday'
elif max_weekday == 3:
    max_weekday_str = 'Thursday'
elif max_weekday == 4:
    max_weekday_str = 'Fri'
elif max_weekday == 5:
    max_weekday_str = 'Saturday'
elif max_weekday == 6:
    max_weekday_str = 'Sunday'
max_weekday_str

'Tuesday'

In [34]:
# popular hour
city_file['hour'] = city_file['Start Time'].dt.hour
city_file['hour'].value_counts().head(1).idxmax()

17

In [39]:
city_file['Trip Duration'].sum()

1458069892

In [40]:
city_file['Trip Duration'].mean()

939.7777590146342

In [44]:
city_file['Start Station'].value_counts().head(1).idxmax()

'Streeter Dr & Grand Ave'

In [46]:
city_file['End Station'].value_counts().head(1).idxmax()

'Streeter Dr & Grand Ave'

In [58]:
city_file['Trip'] = 'from ' + city_file['Start Station'] + ' to ' + city_file['End Station']
city_file['Trip'].value_counts().head(1).idxmax()

'from Lake Shore Dr & Monroe St to Streeter Dr & Grand Ave'

In [90]:
# User count
city_file['User Type'].value_counts()

Subscriber    1234339
Customer       317162
Dependent           4
Name: User Type, dtype: int64

In [92]:
# gender count
city_file['Gender'].value_counts()

Male      935854
Female    298784
Name: Gender, dtype: int64

In [70]:
type(city_file['Gender'].value_counts())

pandas.core.series.Series

In [85]:
# most popular
city_file['Birth Year'].value_counts().head(1).idxmax()

1989.0

In [88]:
# oldest
city_file['Birth Year'].min()

1899.0

In [89]:
# youngest
city_file['Birth Year'].max()

2016.0

In [102]:
i = 0
k = 5
city_file.iloc[i:k]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,weekday,hour,Trip
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN,6,0,from Canal St & Taylor St to Canal St & Monroe...
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,6,0,from Larrabee St & Menomonee St to Sheffield A...
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0,6,0,from Orleans St & Chestnut St (NEXT Apts) to A...
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0,6,0,from Franklin St & Monroe St to Clinton St & T...
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0,6,0,from Broadway & Barry Ave to Sedgwick St & Nor...

In [ ]:
# Loop https://stackoverflow.com/questions/33399615/how-loop-an-input-over-until-correct-answer-is-entered
# month/weekday converter https://stackoverflow.com/questions/3418050/month-name-to-month-number-and-vice-versa-in-python